.content-info {
  margin-inline: 10%;
  margin-block: 5rem;
  padding-inline: 5rem;
  padding-block: 5rem;
  background: white;
  border-radius: 30px;
  text-align: justify;
  position: relative;
  

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; 


  > * {
    flex: 1 1 calc(50% - 20px); 
    min-width: 300px;
  }
}

.imp_date_img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    width: 80%;
  }
}

.content-info-box {
  > * {
    margin-bottom: 2.5rem;
  }
  
  ul {
    list-style: disc !important;
    padding-left: 20px;
  }
}

.spaced-li {
  ul > li  {
    padding-bottom: 1rem;
  }

  ul li ul li {
    padding-bottom: 0;
  }
}


.content-info-box {
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.content-info-box.expanded {
  max-height: 20000px;
}

.toggle-button {
  position: absolute;
  bottom: 30px;
  right: 30px;
  margin-block: 0;
  font-size: 35px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}


@media (max-width: 768px) {
  .content-info {
    margin-inline: 10px;
    padding-inline: 1rem;

    * > {
      flex: 1 1 100%; /* Full width on small screens */
    }
  }
}
