* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pre-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-block: 0.5rem;

  img {
    width: 150px
  }
}

#myVideo {
  object-fit: cover;
  height: 850px;
  width: 100%;
}

.menu-wrapper {
  max-width: 100%;
  height: 40px;
  padding: 0 30px;
  margin: 20px 0px auto;
  position: relative;
  overflow: hidden;
}

.menu-wrapper {
  padding: 10px 0;
  display: flex;
  height: 100%;
  background-image: linear-gradient(to right, #4923B4, #E878CF);
  align-items: center;
}

.menu-wrapper .menu-item {
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none; 
  white-space: nowrap; 
  padding: 10px 0px;
  display: inline-block;
  margin: auto;
  width: calc(100% - 80px);
}

.menu-wrapper .menu-item a {
  display: inline-block;
  padding: 8px 20px;
  color: #fff;
  text-transform: uppercase;
}

.menu-wrapper .menu-item a:hover {
  text-decoration: none;
}

.menu-wrapper .menu-item::-webkit-scrollbar {
  display: none;
}

.menu-wrapper .pointer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: absolute;
  top: 0;
}

.menu-wrapper .pointer i {
  color: #fff;
  cursor: pointer;
}

.menu-wrapper .left-pointer {
  left: 10px;
}

.menu-wrapper .right-pointer {
  right: 10px;
}

.main-content {
  background-image: linear-gradient(#4923B4, #E878CF);
}

.carousel-container {
  position: relative;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white; 
  text-align: center;
  padding: 20px;
  border-radius: 10px;

  h1 {
    font-size: 3rem;
  }
}

.custom-btn {
  background-color: #FF00C7 !important;
  border-color: #FF00C7 !important;
  color: white !important;
  border-radius: 12px;
  margin: 10px;
}


.carousel-inner {
  height: 80vh;
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.conf-info {
  background-image: url("../assets/conf-info-bg.png");
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  * {
    margin: auto;
    width: fit-content;
  }

  h2 {
    font-size: 3rem;
    padding: 2rem;
  }

  .conf-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-bottom: 2rem;
  }
}

.sponsors-news-section {
  display: flex;
  gap: 3rem;
  margin-inline: 10%;
  padding-block: 5rem;
  
  > * {
    flex-basis: 100%;
    padding-inline: 5rem;
    padding-block: 3rem;
    background: white;
    border-radius: 30px;
    text-align: justify;
  }
}

.sponsors {
  h2 {
    font-size: 3rem;
    padding: 1rem;
  }
}

.sp-logos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
  align-items: center;
}

.sp-logos img {
  max-width: 100%;
  height: auto;
  display: block;
}

.news {
  h2 {
    font-size: 3rem;
    padding-block: 1rem;
  }
  ul {
    list-style: disc !important;
    padding-left: 20px;
  }
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}


.toggle-button.rotated {
  transform: rotate(180deg);
}

.header {
	background-color: transparent;
	position: fixed;
	width: 100%;
	z-index: 100;

  .container-1 {
    padding: 1.6rem 4rem;
    position: relative;
  }
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
  border-radius: 20px;
}

.header li a {
	display: block;
	padding: 20px 20px;
	text-decoration: none;
	color: black;
	font-weight: 600;
}

.header li a:hover,
.header .menu-btn:hover {
	background-color: #eee2fe;
  transition: all 0.3s ease;
}

/* menu */

.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
  overflow-y: auto;
}

/* menu icon */

.header .menu-icon {
	cursor: pointer;
	padding: 28px 20px;
	position: relative;
	user-select: none;

  float: right;


  display: inline-block;
  outline: 0;
  border:0;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  background: #fff;
  line-height: 30px;
  border-radius: 40px;
  font-size: 30px;
  font-weight: 600;
  box-shadow: #E878CF -2px -2px 0px 2px, #4923B4 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
}

.header .menu-icon .navicon {
	background: #333;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
	background: #333;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

.header .menu-icon .navicon:before {
	top: 5px;
}

.header .menu-icon .navicon:after {
	top: -5px;
}

/* menu btn */

.header .menu-btn {
	display: none;
}

.header .menu-btn:checked ~ .menu {
	max-height: 80vh;
  border: solid 0.2px black;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
}

/* 48em = 768px */

@media (min-width: 1000em) {
	.header li {
		float: left;
	}
	.header li a {
		padding: 22px 14px;
	}
	.header .menu {
		clear: none;
		float: right;
		max-height: none;
	}
	.header .menu-icon {
		display: none;
	}
}

@media (max-width: 768px) {
  .header .container-1 {
    padding: 0.6rem 1rem;
  }

  .sponsors-news-section {
    flex-direction: column;
  }

  .conf-info h2 {
    text-align: center;
  }

  .content-info-box h4 {
    font-size: 20px;
  }

  .sponsors-news-section {
    > * {
      padding-inline: 2rem;
      h2 {
        text-align: center;
      }
    }
  }

  .pre-nav {
    gap: 0rem;
    img {
      width: 80px;
    }
    .text-img {
      display: none;
    }
  }
}

/*  new navbar css */

.new_navbar_header {
  z-index: 100;
  position: fixed;
  width: 100%;
  transition: all 0.3s ease-in-out;
  .nav_logo img {
    width: 150px;
    height: 160px;
  }
  .nav_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3rem;
    gap: 1rem;

    img {
      transition: all 0.3s ease-in-out;
    }
  }
} 

.logo-text-uni-name {
  transition: all 0.3s ease-in-out;
}

.video_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.30574236530549714) 25%, rgba(0,0,0,1) 100%);
}

.scrolled {
  background-color: #222;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

  .nav_logo img {
    width: 100px;
    height: 110px;
  }

  .logo-text-uni-name {
    font-size: 14px!important;
  }
}

@media (max-width: 991px) {
  .navbar {
      background-color: #222;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
      
      .nav_logo img {
        width: 80px;
        height: 90px;
      }
  }
}

.scroll-down-container {
  position: relative;
  width: 24px;
  height: 24px;
  margin-inline: auto;
  transform: translateY(100px);
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  
  background-color: white; 
  color: black; 
  border: 2px solid #4923B4;

  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease, transform 0.3s ease;
}

#scrollToTopBtn:hover {
  background-color: #4923B4;
  color: white;
}

#scrollToTopBtn.show {
  display: block;
  opacity: 1;
  transform: scale(1);
}
