<div>
  <section class="conf-info">
    <h2>Information about Conference Dates </h2>
    <div class="conf-info-container">
      <img src="assets/conf-date-1.svg" />
      <img src="assets/conf-date-2.svg" />
      <img src="assets/conf-date-3.svg" />
    </div>
  </section>
  
  <section class="sponsors-news-section">
    <div class="sponsors">
      <h2>Sponsors</h2>
      <div class="sp-logos">
        <img src="assets/sponsor-1.png" alt="sponsor-1">
        <img src="assets/sponsor-2.png" alt="sponsor-2">
      </div>
    </div>
    <div class="news" id="news">
      <h2>Latest News</h2>
      <ul>
        <li>The Proposal is under consideration by the IEEE Delhi Section.</li>
      </ul>
    </div>
  </section>
</div>
