<div class="breathe-animation c">
  <div id="blinking-button">
    <div class="d-flex flex-column">
      <span class="p-1" style="cursor: pointer" onclick="scrollToEnd()">Latest News</span>
    </div>
  </div>
</div>
<div class="breathe-animation d">
  <div id="blinking-button">
    <div class="d-flex flex-column">
      <a href="./important-dates.html" class="p-1 text-white">Important Dates</a>
    </div>
  </div>
</div>

<div class="overlay-content">
  <h3>8<sup>th</sup> International Conference on</h3>
  <h1 class="typing-text">IMAGE INFORMATION PROCESSING (ICIIP 25)</h1>
  <h1 class="static-text">IMAGE INFORMATION PROCESSING (ICIIP 25)</h1>
  <h6>Jaypee University of Information Technology, Waknaghat, Distt. Solan</h6>
  <h4><strong>November 27-29, 2025</strong></h4>
  <div>
    <button type="button" class="btn custom-btn btn-lg">REGISTRATION</button>
    <button type="button" class="btn custom-btn btn-lg">CALL FOR PAPER</button>
  </div>
  <div class="scroll-down-container">
    <div class="chevron"></div>
    <div class="chevron"></div>
    <div class="chevron"></div>
  </div>
</div>
<div>
  <div class="video_overlay">
  </div>
  <video autoplay muted loop id="myVideo">
    <source src="assets/video-bg.mp4" type="video/mp4">
  </video>
</div>