<li class="nav-item">
  <a class="nav-link" href="./">Home</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="sessionDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Session
  </a>
  <ul class="dropdown-menu" aria-labelledby="sessionDropdown">
    <li><a class="dropdown-item" href="./spec-sess.html">Special Sessions</a></li>
    <li><a class="dropdown-item" href="./call-for-sp-sessions.html">Call For Special Sessions</a></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="submissionDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Submission
  </a>
  <ul class="dropdown-menu" aria-labelledby="submissionDropdown">
    <li><a class="dropdown-item" href="./final-manu-sub.html">Final Manuscript Submission</a></li>
    <li><a class="dropdown-item" href="./manu-prep-sub.html">Manuscript Preparation & Submission</a></li>
    <li><a class="dropdown-item" href="./docs-to-download.html">Documents to Download</a></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="speakersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Speakers
  </a>
  <ul class="dropdown-menu" aria-labelledby="speakersDropdown">
    <li><a class="dropdown-item" href="./keynote-speakers.html">Keynote Speakers</a></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="committeeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Committee
  </a>
  <ul class="dropdown-menu" aria-labelledby="committeeDropdown">
    <li><a class="dropdown-item" href="./conf-committee.html">Conference Committee</a></li>
    <li><a class="dropdown-item" href="./tech-program-committee.html">Technical Program Committee</a></li>
    <li><a class="dropdown-item" href="./conf-policies.html">Conference Policies</a></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="scheduleDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Schedule
  </a>
  <ul class="dropdown-menu" aria-labelledby="scheduleDropdown">
    <li><a class="dropdown-item" href="./conf-prog.html">Conference Program</a></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="registrationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Registration
  </a>
  <ul class="dropdown-menu" aria-labelledby="registrationDropdown">
    <li><a class="dropdown-item" href="./registration.html">Registration</a></li>
    <li><a class="dropdown-item" href="./conf-venue.html">Conference Venue</a></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="callForPaperDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Call for Papers
  </a>
  <ul class="dropdown-menu" aria-labelledby="callForPaperDropdown">
    <li><a class="dropdown-item" href="./call-for-paper.html">Call for Papers</a></li>
    <li><a class="dropdown-item" href="./conf-track.html">Conference Tracks</a></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="contactDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Contact
  </a>
  <ul class="dropdown-menu" aria-labelledby="contactDropdown">
    <li><a class="dropdown-item" href="./trav-accomo.html">Travel & Accommodation</a></li>
    <li><a class="dropdown-item" href="./visa-info.html">Visa Information</a></li>
  </ul>
</li>
<li class="nav-item">
  <a class="nav-link" href="./sponsor.html">Sponsorship</a>
</li>
